/********** Common CSS Starts **********/  
* {
    margin:0px;
    padding:0px;
}
body, html {
    font-family : "Poppins";
    background:#edecee; 
}
.width-100 {
    width:100%;
    float:left;
}
.width-20 {
    width:20%;
    float:left;
}
.width-25 {
    width:25%;
    float:left;
}
.width-30 {
    width:30%;
    float:left;
}
.width-33 {
    width:33%;
    float:left;
}
.width-40 {
    width:40%;
    float:left;
}
.width-50 {
    width:50%;
    float:left;
}
.width-60 {
    width:60%;
    float:left;
}
.width-70 {
    width:70%;
    float:left;
}
.width-80 {
    width:80%;
    float:left;
}
.width-90 {
    width:90%;
    float:left;
}
.width-10 {
    width:10%;
    float:left;
}
.container {
    width:1500px;
    margin:0 auto;
}
.plr {
    padding-left:100px;
    padding-right:100px;
}
.margin-top-50 {
    margin-top:50px;
}
/********** Common CSS Ends **********/

/********** Top Header Starts **********/  
.top-header {
    background:#110324;
    padding:4px 0px;
    border-bottom: 1px solid #3131315e;
    

}
.news-list {
    background: #fff;
    color: rgb(205, 203, 211);
    padding: 6px;
    font-size: 20px;
}
.headquote {
    font-size:18px;
    color:#ffffff;
    /* width:100%; */
    margin-left: 1px; 
        margin-right: 1px;
    
}
/********** Top Header Ends **********/

/********** Logo And Menu Starts **********/  

.main-menu a:hover
{
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 2px;
    color: rgb(46, 42, 117);
    text-decoration: none;
    /* background-color: #bbd4f9; */
    
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    /* box-shadow: 0px 2px 5px 0px #00000036; */
}
.logo {
   flex: 1;
   padding-left: 5px;
}
.logo_img{
    /* height: 100px;  */
    width:30%;
    height: auto;
    margin-left: 30px;
}
.main-menu {
    list-style:none;
    flex: 1;
    margin-top: 20px;
}
.main-menu a {
    font-weight: 750;
    color: #3a3a3a;
    font-size: 22px;
    padding: 5px;
    text-decoration: none;
}
.main-menu li {
    float:left;
    padding:10px 20px;
    list-style: none;
}
/********** Logo And Menu Ends **********/

/********** Slider Starts **********/  
.slider-width{
    
    height: 559px;
    width: 91%;
    position: relative;
    top: 30px;
    left: 64px;
    box-shadow: 0px 15px 39px 12px rgb(144, 148, 180);


}
/********** Slider Ends **********/

/********** Latest News, Event, Notice Board Starts **********/  
.latest-news{
    margin-left:10px;
    margin-right:10px;
    background:#fff;
    padding:20px;
    height:455px;
    margin-bottom:30px;
}
.event-list{
    margin-left:10px;
    margin-right:10px;
    background:#fff;
    padding:20px;
    height:455px;
    margin-bottom:30px;
}
.notice-board{
    margin-left:10px;
    margin-right:10px;
    background:#fff;
    padding:20px;
    height:455px;
    margin-bottom:30px;
}
.our-principal{
    margin-left:10px;
    margin-right:10px;
    background:#fff;
    padding:20px;
    height:455px;
    margin-bottom:30px;
}
.about-us{
    margin-left:10px;
    margin-right:10px;
    background:#fff;
    padding:20px;
    height:455px;
    margin-bottom:30px;
}
.certificate{
    margin-left:10px;
    margin-right:10px;
    background:#fff;
    padding:20px;
    height:455px;
    margin-bottom:30px;
}
.heading-sect{
    width: 100%;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 15px;
    padding-top: 2px;
    border: 1px solid #cfcfcf;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    background: #00aed9;
    color:white;
}
.heading-sect h3{
    color:white;
}
.head-title {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: 600;
    font-family :'Roboto', sans-serif!important;
    color: #2196f3;
    padding-bottom: 5px;
}
.upcoming-event-list li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.upcoming-event-list{
    padding:0px;
   list-style:none;
}
.event-date {
    background: #03a9f4;
    width: 30px;
    float: left;
    text-align: center;
    font-size:14px;
    color: #fff;
    padding:8px;
    margin-right: 10px;
}
.notice-board-list li {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.notice-board-list{
    padding:0px;
    list-style:none;
}
.latest-news-ul{
    padding:0px;
   list-style:none;
   line-height: 40px;
}
/********** Latest News, Event, Notice Board Ends **********/

/********** Information Starts **********/  
.useful-info-ul{
    list-style:none;
}
.useful-info-ul a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}
.useful-info-ul li{
    margin-bottom:15px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 15px;
}
.principal-image{
    text-align:center 
}
.principal-image img{
    height:230px;
}
.principal-para{
    font-weight:bold;
}
/********** Information Ends **********/

/********** Gallery Starts **********/  
.gallery-head-style{
    text-align: center;

}
.gallery{
    border: 2px solid grey;
    padding: 20px 40px;
}
.gallery-img{
    height:250px;
    width:100%;
}
.governor-section{
    font-size: medium;
}
.governor-img{
    width:100%;
}
.governor-name{
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 20px;
}
.governor-designation{
    font-size: 15px;
    color: black;
    padding-left: 10px;
    margin-top: 6px;
}
.gove-sec-style{
    margin-bottom: 30px;
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 30px;
}
.gallery-head-style{
    font-size: 28px;
    color: #4b4848;
    margin-bottom: 5px;
    border: 1px solid #cfcfcf;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    background: #00aed9;
    background: white;
    border: none;
    padding: 2px 0px;
}
/********** Gallery Ends **********/

/********** Recruiter List Starts **********/  
.recruiter-head-style{
    font-family: "Poppins";
    font-size: 30px;
    color: #000000;
    margin-bottom: 9px;
}
.recruiter-marquee{
    height: 120px;
}
.recruiter-marquee img{

    width: 187px;
    height: auto;
    padding: 24px;
    
}
/********** Recruiter List Ends **********/

/********** Footer Starts **********/  
.footer {
    background: #232F3E;
    padding: 50px 0px;
}
.quicklink-menu {
    list-style:none;
    padding-left: 10px;
}
.quicklink-menu li a {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration:none;
}
.social-media {
    list-style:none;
    margin-top:10px;
}
.social-media li a img {
    width:30px;
}
.social-media li {
    float:left;
    padding:0px 8px;
}
.quicklink-heading {
    font-size:18px;
    font-weight:bold;
    color:#fff;
    margin-bottom:10px;
}
.get-in-touch {
    list-style:none;
    padding-left: 10px;
}
.get-in-touch li i {
    color: #ed372c;
    font-size: 20px;
}
.get-in-touch li {
    color: #fff;
    line-height: 2.5;
    font-size: 15px;
    text-decoration:none;
}
.footer-e-mail {
    font-size:15px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
}
.footer-website {
    font-size:12px;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
}
/********** Footer Ends **********/

/********** Footer Copyright Starts **********/  
.footer2-bacbor {
    background: #232F3E;
    padding:10px 0px;
    border-top: 1px solid #898989;
}
.footer2-content {
    font-size:14px;
    color:#fff;
    text-align:center;
}
.date{
    color: red;
}
/********** Footer Copyright Ends **********/


